*{margin:0;padding: 0 !important;}
* { touch-action: pan-y; }
.container-fluid{overflow: hidden;}
a{text-decoration:none !important; }
a:hover{text-decoration: none !important;}
li{list-style: none;}
@font-face {
    font-family:engFont;
    src: url('../font/tradegothic-boldcondtwenty.ttf');
    }
    @font-face {
        font-family:bigcaslon;
        src: url('../font/fonteditor.ttf');
        }
/* 下拉菜单 */
.menus_box{   
    width:0px;
    height:1000px;
    position:fixed;
    z-index:2;
    overflow:none;
    transition:all .2s;    
}
.menus_chg{
    width:600px;
    /* animation:change_m .3s linear;
    animation-fill-mode: forwards; */
}
.menus_detail{
    width:px;
    height:1000px;
    background: #696969 url('../img/poster.jpg') ;
    display: block;
    padding: 0;
}
.bg_menus{
    width:100%;
    height:1000px;
    background: #222222;
    opacity: .9;
    position: absolute;
    z-index:0;
}
.menus_detail p:first-child{
    width:600px;
    height:50px;
    font-size:22px;
    margin:-54% -44%;
}
.menus_detail .list{
    width:300px;
    height:300px;
    background: #a0171791;
    display:inherit;
}
.menus_icon{
    width:38px;
    height:36px;
    font-size:31px !important;
    background:#fff;
    float: left;
    text-align: center;
    margin-top: 0.5rem ;
}
.menus_icon_2{
  color:#fff;
  background:rgba(34, 34, 34, 0.932);
}

.iconcarte:before {
    display: block;
    line-height: 36px;
}
.menus_detail>ul{
    width: 125px;
    margin:22% 30%;
    position: absolute;
    display: none;
}
.menus_detail>ul span{
    font-size:12px ;
    color: #888;

}
.menus_detail a:hover{
    color: rgb(230, 227, 227) ;
}
.menus_detail a:hover span{
    color: rgb(230, 227, 227) !important;
}
.menus_detail li{
    margin:20% -2%;
    
}
.iconarrow-right-bottom-copy{
    position: absolute;
    z-index: 0;
    font-size: 29px !important;
    color: #888;
    margin: 4% 7%;
}
.iconbiankuang-copy{
    position: absolute;
    z-index: 0;
    font-size: 29px !important;
    color: #888;
    margin: 46% 130%;
}
/* .fir{
    position: absolute;
    z-index: 0;
    font-size: 29px !important;
    color: #888;
    margin: 46% 130%;
} */
.iconweixin2,li>.iconweibiaoti1{
    font-size: 31px !important;
    color: #888;
    display: block;
    float: left;
    margin-left: 6%;
}
/*轮播图相关*/
.carousel-control-next,
.carousel-control-prev{
    width:3%;
    height:15%;
    background:#fff;
    border-radius:0.5rem;
    top:37%;
    color:#fff;
}
.carousel-control-next{left:91%}
.carousel-control-prev{left:6%;}

.carousel-indicators li{
    width:0.5rem;height:0.5rem;
    background:#fff;
    margin-left: 0.4rem;
    margin-right:0.4rem;
    border-radius: 50%;
}
.carousel-indicators .active {
    background:#ff9800 ;
}
/*导航栏高*/
.sec_h{height:200px;}
.bg_big{background:#fff;}


/* 导航栏中第一层box */
.out_title h4{font-size:18px;}
.out_title p{font: 1em Georgia, serif;font-size: 12px;}
.out_title{width:100%;color:#696969;margin-top: 50px;padding: 0px 30px;}

/* 字体图标 */
.out_title .iconfont,.mytext .iconfont{font-size: 40px !important;}
.iconzuo-copy{color:#fff;font-size:36px !important;}
.iconzuo{color:#fff;font-size: 36px !important;}

/* 第三板块 */
#three{
    height:50%;
    background:#fff;
    z-index: 0;
}
#three .school-box{
    width:74%; 
    margin:7% 0 0 23%;
}
.school-box p{margin-bottom:0 !important; }
#three ul>li{
    list-style:none;
    float: left;
}
#three ul>li span{font-size:40px;color:#028e98}

/* 按钮 */
#three a{
    clear: left;
    display:block;
}
.school-box a,.teacher-msg a,#active a{
    height:45px;
    width:160px;
    display: block;
    border:1px solid rgb(156, 156, 156);
    text-align: center;
    line-height: 42px;
    font-family: engFont;
    font-size: 21px;
    color:#696969;
}
.school_char{font-size: 15px;color:#696969}
.school-box a:hover,.teacher-msg a:hover,#active a:hover{
     /*  transform: translate(50px,50px); */
     background:#028e98;
     color:#fff;
     border:1px solid #028e98;
}
/* 教师模块 */
.teacher-box{
   height:850px;
   background:url('../img/teacher-bg.jpg') no-repeat;
}
.teacher-img{
    width: 442px;
    height: 453px;
    position: absolute;
    bottom: 0;
    /* left: calc(8vw /4); */
    z-index: 1;
    overflow: hidden;
 }

#aaa {
    height: 98px;
    margin: 3% 0%;
}
.teacher-msg{
    background:url('../img/teacher1.jpg') no-repeat; 
}

.teacher-img img{
    width: 453px;
}
.ter_content{
    width: 73%;
    height: 290px;
    margin: auto;
    overflow: auto;
    
}
.ter_content>p{
    font-size: 16px;
    color:#fff;
    clear:left;
}
.ter_content>h2{
  float: left;
}
.ter_content>span:first-child{
    font-size: 38px;
    color:#fff;
}
.ter_content>span:nth-child(2){
   font-size: 15px;
   color:#ddd;
}
.teacher-msg a{
    position: absolute;
    left: 12%;
    top: 5%;
}

.col-2>div:hover{
    border: 3px solid#028e98;
   
}
.ter_person .iconfont{
    font-size:50px;
    color:#ddd;
}
.box1{
  margin:auto;
  overflow: hidden;
}

/* 学术活动 */
#active{
    background:#888 url('../img/footerbg.jpg') ;
}
.active_img{
    max-width: 100%;
    height: 100%;
}
#active>div:nth-child(2):hover{
    background:#888 url(../img/abcd2.jpg) ;
}
#active>div:nth-child(3):hover{
    background:#888 url(../img/abcd3.jpg) ;
}
#active>div:nth-child(4):hover{
    background:#888 url(../img/menu-bg.jpg) ;
}
#active>div:nth-child(5):hover{
    background:#888 url(../img/abcd1.jpg) ;
}
#active>div:nth-child(6):hover{
    background:#888 url(../img/abcd4.jpg) ;
}
#active>div:nth-child(7):hover{
    background:#888 url(../img/hs_img.png) ;
}
#active .col-lg-2:hover .iconfont,
#active .col-lg-2:hover .act_txt{color:#ddd;}
#active .act_txt{
    height:20%;
    width:50%;
    color:#2b2b2b ;
    font-size:16px;
    float: left;
}
#active .iconfont{
    line-height: 96px;
    height: 96px;
    width: 32%;
    display: block;
    font-size: 31px;
    color: #2d2d2d;
    float: left;
}
#active img{margin-left: 63px !important;}

.iconyinhao {
    font-size: 50px !important;
    color: #ddd !important;
}
#active a{
    position: absolute;
    top: 41%;
    left: -12%;
    width: 66% !important;
}
/* 尾部 */
.footer{
    height:2000px;
    weight:100%;
    background:#ff9800;
}
.footer-lamp{
    weight:100%;
    height: 110px;
}
/* start */
.footer-lamp{
    width: 100%;

}
.footer-lamp .benner{
    width: 93%;
    height: 59px;
    background: #2d2f34;
    overflow: hidden;
    margin: 16% -1%;

}
.footer-lamp .transition{
transition:all .5s linear;
}
.footer-lamp .benner>ul{
    list-style:none;
    width:3000px;
    /* margin-left:200px;  */
}
.footer-lamp .benner>ul>li{
    width:152px;
    float:left;
}

.footer-lamp img{
   width:125px;
   height:30px; 
}
/* end */
.footer-box{
    margin: -4% 5% -6% 10%;
    color:#ddd !important;
    font-size:12px !important;
}
.footer_link li{
  float: left;
  margin-right:20px; 
}
.footer_link a{
    color:#666;
}
.footer_link a:hover{
    color:#fff;
}
.page-footer{
    clear:left;
    margin: 11% 0%;
    display: block;
    color:#ddd !important;
}
.title{
    font-family: bigcaslon;
    font-size: 40px;
    line-height: 1;
    margin-top: 6px;
}
.footer-box .title:before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    bottom: -18px;
    left: 0;
}
.footer_max{
    background:#2d2f34;
    margin-top: 25px;
}
.nav-footer li{
    width: 122px;
    height: 37px;
    margin: 6% 4% 5% 0%;
    padding: 4% 4%;
    border: 1px solid #ddd;
    border-radius: 0%;
    font-size: 16px;
    padding: 10px;
    float: left;
    line-height: 34px;
    text-align: center;
}
.nav-footer li:hover{
    background:#000;
    border:0;
}
.info-silde{
    clear:left;
    margin-bottom: 40px;
}
.min_box{

}
.min_box ul{
    position:absolute;
    bottom: -2.5%;
    
}
.min_box a{
    display: block;
    height: 66px;
    width: 66px;
    background:#f9f7f5;
    color: #2d2f34;
    font-size: 31px;
    text-align: center;
    line-height: 66px;
}
.icontop{
    background:#2d2f34 !important;
    color:#f9f7f5 !important;
    font-size:34px;
}
.info-list2{display:none;}
/* .info-list1{display:none;} */
.info-silde ul{
    height:244px;
}
.teacher-msg .ter_ul>li{
    width:300px;height:100%;
    float: left;
    position: relative;
}
.teacher-msg .ter_ul>li>div{
    width:100%;
    height:60%;
    overflow:auto;
    font-size:18px;
    color: #ddd;
}
.teacher-msg .ter_ul>li>div :first-child{
    font-size:40px !important;
}
.teacher-msg .ter_ul>li>div :nth-child(2){
    color: #888 !important;
}
.ter_ul{
    height: 500px;
    float: left;
    width: 7500px;
   
}
#md{font-size:18px !important;}

/*媒体查询*/
/* 大 */
@media screen and (min-width: 992px) {    
    .img_head{
       background:#fff url("../img/left.jpg") no-repeat;
       background-attachment:fixed;
        height:1180px;
    }
    .banner_h{height:568px; }
    .w-20{width:20%;}
    /* 标题栏 */
    .menus_detail a{
        font-size:26px ;
        color: #888;
    }
 /*导航栏滑动后的div*/
.min_b1,.min_b2,.min_b3,.min_b4,.min_b5{
    width:100%;height:0;
    position: absolute;
    bottom:0;left:0;
    transition:all .7s;
}

.min_bolock:hover .min_b1,.min_bolock:hover .min_b2,
.min_bolock:hover .min_b3,.min_bolock:hover .min_b4,
.min_bolock:hover .min_b5{height:900px;} 

.min_b1{background-image: url("../img/abcd1.jpg");overflow: hidden; z-index:0;}
.min_b2{background-image: url("../img/menu-bg.jpg");overflow: hidden; z-index:0;}
.min_b3{background-image: url("../img/abcd2.jpg");overflow: hidden; z-index:0;}
.min_b4{background-image: url("../img/abcd3.jpg");overflow: hidden; z-index:0;}
.min_b5{background-image: url("../img/abcd4.jpg");overflow: hidden; z-index:0;}

.mytext{
    width:80%;
    color:#fff;
    position: absolute;
    top:70%;left:50%;
    transform: translate(-50%,-50%);
    z-index:100;
}
.mytext .mt-5{font-size:14px;}
.min_btn{
    display: block;
    width: 111px;
    height: 37px;
    margin: 0% 0% 6% 11%;
    border: 1px solid #ddd;
    border-radius: 0%;
    font-size: 19px;
    line-height: 34px;
    text-align: center;
    color: #ddd;
    font-family:engFont;
}
.min_btn:hover{
    color:#2d2f34;
    background:#ddd;
}

/*  */
/* 标题栏 */
@keyframes change{
	0%{height:30px;}
	100%{height:86px;}
            }
#nav.mm{
   display:none;
            }
#nav.nav_tit{
    animation:change .3s linear;
    width:100%;
    background:#fff;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    animation-fill-mode: forwards;
    border-bottom: 1px solid #ccc;
}
.nav_tit a{
    width:9.6%;
    height:86px;
    display: block;
    background: #fff;
    float: left;
    text-align: center;
    line-height: 90px;
    margin-right: 10px;
    color:#696969;   
    font-size:16px;
}
.nav_font{width:20%;}
.nav_tit a:hover{background: #ccc;color:#000;}
.nav_tit .iconfont{
    font-size: 30px !important;
     color:#696969;
}
/* 占位 */
.msg_board {
    height: 100px;
}  
.ter_person{
    height: 100%;
}  
/* 活动 */
#active .col-lg-2{
    height:562px;
    width:100%;
}
.act_block{
    height: 112px;
    width: 79%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32%;
    margin-top: -62%;
}
.even{
    margin-top: 11%;
}
/* 教师 */
.col-2>div{
    width: 90%;
    height: auto;
    position:absolute;
    z-index:3;
    border: 1px solid #696969;
}

}
/* 中 */
@media screen and (min-width: 768px) and (max-width:992px){
    .w-20{width:33.3333%}
    .mytext{display:none;}
     #nav{display:none;}
    #three{background:rgb(228, 227, 227);}
    .none{display:none;}
    /* 标题栏 */
    .menus_detail a{
        font-size:22px ;
        color: #888;
    }
    /* 占位 */
    .msg_board {
        height: 763px;
    }
    .teacher-img{
        display:none;
    }
    .ter_person{
        height: 0;
    }
    /* 活动 */
    #active .col-md-2{
        height: 371px;
    }
    .act_block {
        height: 112px;
        width: 79%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -34%;
        margin-top: -108%;
    }
    .even {
        margin-top: -51%;
    }
    #active a {
        font-size: 18px !important;
        left: -32% !important;
}

}
/* 小 */
@media screen and (max-width:768px){
    .mytext{display:none;}
     #nav{display:none;}
    .none{display:none;}
    #three {
        /* height: 717px !important; */
        background:rgb(228, 227, 227);
    }
    #three ul>li span {
        font-size: 20px;
        color: #dae5e6;
    }
    h4{font-size:13px !important;}
    .col-sm-4,.col-sm-5,.col-sm-2,.col-sm-1,.col-sm-6 {
       position: relative;
       width: 100%;
       min-height: 1px;
       padding-right: 15px;
       padding-left: 15px;
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
      }
      .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }
      .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
      .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
      }
       /* 标题栏 */
    .menus_detail a{
        font-size:20px ;
        color: #888;
    }
    /* 占位 */
    .msg_board {
        height: 788px;
    }    
    .teacher-img{
        display:none;
    }
    .ter_person{
        height: 0;
    }
    /* see more 按钮 */
    .teacher-msg a {
        display:none;
    }
    /* 活动 */
    #active .col-lg-2 {
        height: 249px;
        width: 100%;
       
    }
    #active .col-lg-2:hover{
        border:5px solid #fff !important;
    }
    .act_block {
        height: 112px;
        width: 138px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -62px;
        margin-top: -70px;
    }
    #active a {
        height: 42px !important;
        font-size: 19px !important;
        top: 50% !important;
        left: 50% !important;
        margin-left: -43px !important;
        width: 86px !important;
        margin-top: -23px;
}
#active>div:nth-child(2){
    background:#888 url(../img/abcd2.jpg) ;
}
#active>div:nth-child(3){
    background:#888 url(../img/abcd3.jpg) ;
}
#active>div:nth-child(4){
    background:#888 url(../img/menu-bg.jpg) ;
}
#active>div:nth-child(5){
    background:#888 url(../img/abcd1.jpg) ;
}
#active>div:nth-child(6){
    background:#888 url(../img/abcd4.jpg) ;
}
#active>div:nth-child(7){
    background:#888 url(../img/hs_img.png) ;
}
.iconfont,.act_txt{color:#ddd !important;}
.footer_min{
    display: none;
}
.footer_once{
    height:80px;
    background:#aaa;   
}
.footer_once li{
    float: left;
}
.footer_link{
    display: none;
}

.col-2>div{
    width: 58%;
}
#aaa{
    height: 138px;
    margin: -11% -1%;
  }
  .ter_content {
    width: 92%;
  }
  .teacher-msg{
      padding-left:3% !important;
      padding-right: 7% !important;
  }
}